{% extends 'expediente/evidencia.html' %}

{% block content_evidencia %}

    <h2>Lista de evidencias</h2>

    {% for evidencia in evidencias %}
        <ul>
            <li>{{ evidencia.expediente }}</li>
            <li>{{ evidencia.clase }}</li>
            <a href="{% url 'expediente:evidencia_detail' evidencia.id %}" class="btn btn-secondary">Ver detalle</a>
            <a href="{% url 'expediente:evidencia_update' evidencia.id %}" class="btn btn-primary">Actualizar</a>
            <a href="{% url 'expediente:evidencia_confirm_delete' evidencia.id %}" class="btn btn-danger">Eliminar</a>
        </li>
        </ul>
    {% endfor %}
    <br>
    <a href="{% url 'expediente:evidencia' %}" class="btn btn-primary">Volver a índice de evidencias</a> <br><br>
    <a href="{% url 'expediente:expediente_list' %}"class="btn btn-warning"> Volver a Lista de expedientes</a> <br><br>
    <a href="{% url 'expediente:index' %}" class="btn btn-secondary">Volver a índice de expediente</a><br>
    <br><br>
{% endblock content_evidencia %}