{% extends 'expediente/index.html' %}

{% block content_expediente %}

    <h2>Lista de expediente</h2>

    {% for expediente in expedientes %}
        <ul>
            <li>{{ expediente.numero }} / {{ expediente.año }}</li>
                <a href="{% url 'expediente:expediente_detail' expediente.id %}" class="btn btn-secondary">Ver detalle</a>
                <a href="{% url 'expediente:expediente_update' expediente.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'expediente:expediente_delete' expediente.id %}" class="btn btn-danger">Eliminar</a>
                                 
            </li>
        </ul>
    {% endfor %}
<br><br>
    <a href="{% url 'expediente:index' %}"class="btn btn-secondary">Volver a índice de expediente</a>
    <br><br>

{% endblock content_expediente %}