{% extends 'home/base.html' %}

{% block content %}

    <h1>Índice de Expediente</h1>
    <div class="container">

        {% block content_expediente %}

            <h3>Expedientes</h3>
<br><br>    
            <a href="{% url 'expediente:expediente_create' %}"class="btn btn-success">Crear</a> <br><br>
            <a href="{% url 'expediente:expediente_list' %}"class="btn btn-primary">Listar</a> <br><br>
        
        {% endblock content_expediente %}

    </div>

    <br><br>
<div class="d-flex justify-content-end">
    <a href="{% url 'home:index' %}"class="btn btn-danger">Volver a inicio</a>
</div>
<br><br>
{% endblock content %}